img {
  height: 200px;
  border: 3px solid black;
  margin: 20px;
}

p {
  font-size: 20px;
  text-align: justify;
  line-height: 1.7;
  /* padding: 20px; */

  clear: both;
}

.image1 {
  float: right;
}

.image2 {
  float: left;
}