/* CSS語法 */

/* 引用Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Bogle&family=LXGW+WenKai+TC&display=swap");

h1 {
  color: red;
}

* {
  font-family: "BBH Bogle", "LXGW WenKai  TC";
}

.container {
  width: 800px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

.imgBox {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.imgBox img {
  width: 100%;
  height: 100%;
}
.author {
  font-size: 18px;
  font-weight: 500;
}
.company {
  font-size: 16px;
  font-weight: normal;
}
.time {
  font-size: 14px;
  color: #6e7780;
  font-weight: normal;
}

p {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
}

ol {
  font-size: 18px;
  list-style-position: inside;
  padding-left: 0;
}

ul {
  font-size: 18px;
  list-style-type: none;
  padding-left: 0;
}

ul > li {
  margin: 10px 0;
}

.subtitle {
  font-size: 20px;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
  border-radius: 8px;
}
figcaption {
  color: gray;
  font-size: 14px;
}

.center {
  text-align: center;
}
