table {
  width: 1200px;
  border: 5px solid black;
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  border: 2px solid gray;
  text-align: center;
  height: 50px;
}

thead tr {
  background-color: #9a0036;
  color: white;
}

tbody tr:nth-child(2n){
  background-color: rgb(202, 202, 202);
}

tbody tr:hover{
  background-color: pink;
}