img,
.box {
  /* 內容 */
  width: 100px;
  height: 100px;
  background-color: pink;

  /* 邊框 */
  border: 5px solid red;

  /* 內邊距 */
  padding: 30px;

  /* 外邊距 */
  margin: 50px;
}

.circle{
  border: 5px solid black;
  width: 10px;
  height: 100px;
}

.box{
  width: 100;
  height: 100;
  background-color: lightblue;
  border: 5px solid red;
  


}